<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% block title %}
    <title>Login - TumaNow</title>
    {% endblock %}

    {% block static_inclusions %}
    <link rel="stylesheet" href="{% static 'auth.css' %}">
    {% endblock %}

</head>
<main>
    <div class="auth-card">
        <img src="/media/logo.png" alt="TumaNow Logo" class="auth-logo">
        <h1>Login</h1>
        <form  action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="username" required>
            <input type="password" placeholder="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        <a href="{% url 'home' %}">Go home</a>
    </div>
</body>
