<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% block title %}
    <title>Register - TumaNow</title>
    {% endblock %}

    {% block static_inclusions %}
    <link rel="stylesheet" href="{% static 'auth.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% endblock %}

</head>
<body>
    {% if messages %}
        <div id="message-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
        {% endfor %}
        </div>
    {% endif %}
    <div class="auth-card">
        <img src="/media/logo.png" alt="TumaNow Logo" class="auth-logo">
        <h2>Create an Account</h2>
        <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="profile_pic">Profile Picture: </label>
            <i class="fa-solid fa-plus" id="profile_upload"></i>
            <input type="file" name="profile_pic" id="profile_input" required>
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="text" name="username" placeholder="Enter a unique username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="number" name="phone_number" placeholder="+2547xxxxxxxx" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm-password" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        <a href="{% url 'home' %}">Go home</a>
    </div>
</body>
<script src="{% static 'js/register.js' %}"></script>
</html>